 <div class="col-md-3 my-2 mx-1"
    id="{{#if FavPage}}B_{{{BurgerID}}}{{else}}B_{{id}}{{/if}}">
    <div class="card">

        <div class="PicArea">
            <span class="badge bg-secondary p-2 PricArea">{{lookup . "Price"}}
                $</span>
            <img src="images/1.jpeg" class="card-img-top CoverStyle">
        </div>
        <div class="card-body">
            <h5 class="card-title">Name: {{birger_name}}</h5>

            <div class="d-flex justify-content-evenly align-items-center">
                {{#if FavPage}}
                <button onclick="updateFav(this)" id="favBtn_{{BurgerID}}"
                    data-id="{{BurgerID}}"
                    data-state="{{isFav}}"
                    data-fav="true"
                    class="btn btn-danger btn-sm">

                    Remove from Fav
                </button>

                {{else}}
                {{#if isFav}}
                <span class="badge bg-secondary">Fav</span>
                {{/if}}

                <button onclick="updateFav(this)"
                    id="favBtn_{{id}}"
                    data-id="{{id}}"
                    data-state="0"
                    class="btn btn-primary btn-sm">

                    Add to Fav
                </button>

                <button class="btn btn-danger btn-sm"
                    data-name="{{birger_name}}" data-id="{{id}}"
                    onclick="deleteBurger(this)">Delete</button>
                {{/if}}
            </div>

        </div>
    </div>
</div>